@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    #hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-image {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    #research-preview {
        flex-direction: column;
        align-items: center;
    }

    .research-card {
        margin-bottom: 1rem;
        width: 90%;
    }
}